html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* background-color: ; */
    /* color: black; */
    font-family: Inter, sans-serif;
}

* {
    box-sizing: border-box;
}

#main {
    /* position: fixed; */
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

}

#app {
    width: 100%;
    height: 100%;
    /* display: flex; */
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    /* background-color: #232f3e; */
    background-color: #21222A;
    width: 100%;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    margin: 0;
    margin-top: 0;
    padding: 0;
    padding-top: 0;
    /* border-bottom: 5px solid rgb(90, 89, 89); */
    /* opacity: 70%; */
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-items > li {
    padding: 10px;
    border-style: hidden;
    color: #00B7A4;
    font-weight: 900;
    font-size: larger;
    float: left;
    text-decoration: none;    
}

/* .nav-items > li:link {
    text-decoration: none;
    color: #00B7A4;
}
.nav-items > li:visited {
    text-decoration: none;

}
.nav-items > li:hover {
    text-decoration: none;

}
.nav-items > li:active {

} */

/* .nav-items > li > Link {
    text-decoration: none;
} */

/* Link {
    text-decoration: none;
} */

.links {
    text-decoration: none;
    color: #00B7A4;
    
}

.links:hover {
    color: #ff9501;
}


.search-bar {
    width: 600px;
    height: 45px;
    position: relative;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-width: 3px;
    border-style: none;
    font-size: medium;
    
}

.search-button {
    position: relative;
    /* border-radius: 6px; */
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 45px;
    background-color: #ff9501;
    border-style: none;
    font-size: medium;
    /* color: rgb(22, 21, 21); */
    /* font-weight: ; */
}

.search {
    position: relative;
    float: right;
    /* top: auto; */
    right: 20px;
    /* left: 20px; */
    /* margin-right: auto; */
}

.heading {
    position:relative;
    margin-left: 20px;
    /* top: 200px; */
}

.doctor-card > ul {
    list-style: none;
}