<html>
    <head>
        <title>
            Category: {{ category }}
        </title>
    </head>
    <body>
        
        {% for doctor in doctors %}
            <!-- {{ doctor }} -->
        
            <ul style="list-style: none;">
                <li><h1>Name: {{ doctor.name }}</h1></li>
                <!-- <li><h3>Degree: {{ doctor.degree }}</h3></li> -->
                <li><h3>Specialiazation:{{ doctor.specialization }}</h3></li>
                <li><h3>Hospital: {{ doctor.hospital }}</h3></li>
                <!-- <li><h3>Experience:{{ doctor.experience }}</h3></li> -->
                <!-- <li><h3>Awards: {{ doctor.awards }}</h3></li> -->
            </ul>
            <p>
                <center><a href="{% url 'doctor-profile' id=doctor.id %}"><button type="button">Profile</button></a></center>
            </p>

        {% endfor %}
        
        <br/><br/>
        <hr>
        <center>
            <a href="?page=1"><button>&laquo First</button></a>
            {%if doctors.has_previous %}
            <a href="?page={{ doctors.previous_page_number }}"><button>Previous</button></a>
            {% endif %}
            
            <!-- {{ doctors }} -->
            Page {{ doctors.number }} of {{ doctors.paginator.num_pages }}
    
            {%if doctors.has_next %}
            <a href="?page={{ doctors.next_page_number }}"><button>Next</button></a>
            {% endif %}
            <a href="?page={{ doctors.paginator.num_pages }}"><button>Last &raquo</button></a>
        </center>

        

        <p>
            <center><a href="{% url 'home' %}"><button type="button">Home</button></a></center>
        </p>
    </body>
</html>