<html>
    <head>
        <title>
            {{ doctor.name }} - Doctor Profile
        </title>
    </head>
    <body>
        <ul style="list-style: none;">
            <li><h1>Name: {{ doctor.name }}</h1></li>
            <li><h3>Degree: {{ doctor.degree }}</h3></li>
            <li><h3>Specialiazation:{{ doctor.specialization }}</h3></li>
            <li><h3>Hospital: {{ doctor.hospital }}</h3></li>
            <li><h3>Experience:{{ doctor.experience }}</h3></li>
            <li><h3>Awards: {{ doctor.awards }}</h3></li>
        </ul>
    </body>
</html>