<html>
    <head>
        <title>
            HealthXOXO-Home
        </title>
        <!-- <link rel="stylesheet" type="text/css" href="frontpage.css"> -->
    </head>
    <body>
        <table id = "tabs" style="border-spacing: 30px;">
            <tr>
                <td class = "tab-elements"><h1>24x7 Doctor</h1></td>
                <td class = "tab-elements"><h1>Medicine</h1></td>
                <td class = "tab-elements"><h1>Lab test</h1></td>
                <td class = "tab-elements"><h1>Reminder</h1></td>
                <td class = "tab-elements"><h1>Cart</h1></td>
            </tr>
        </table>
    </body>
</html>