<html>
    <head>
        <title>
            24x7 Doctor
        </title>
        <!-- <link rel="stylesheet" type="text/css" href="frontpage.css"> -->
    </head>
    <body>
        <h1>Search for Doctor</h1>
        <table id = "tabs" style="border-spacing: 30px;">
            <tr>
                <td class = "tab-elements"><h1><a href="{% url 'category-doctors' category='General' %}">General Physician</a></h1></td>
                <td class = "tab-elements"><h1><a href="{% url 'category-doctors' category='Neuro' %}">Neuro Surgeon</a></h1></td>
                <td class = "tab-elements"><h1><a href="{% url 'category-doctors' category='Opthal' %}">Eye Care</a></h1></td>
                <td class = "tab-elements"><h1><a href="{% url 'category-doctors' category='Derma' %}">Dermatologist</a></h1></td>
                <td class = "tab-elements"><h1><a href="{% url 'category-doctors' category='Cardio' %}">Cardiologist</a></h1></td>
                <td class = "tab-elements"><h1><a href="{% url 'category-doctors' category='ENT' %}">ENT</a></h1></td>
                <td class = "tab-elements"><h1><a href="{% url 'category-doctors' category='Dentist' %}">Dentist</a></h1></td>
                <td class = "tab-elements"><h1><a href="{% url 'category-doctors' category='Gastro' %}">Gastroentrologist</a></h1></td>
                <td class = "tab-elements"><h1><a href="{% url 'category-doctors' category='Gynec' %}">Gynecologist</a></h1></td>
            </tr>
        </table>
        <center>
            <form method="POST" action="{% url 'search-results' %}">
                {% csrf_token %}

                <input type="search" placeholder="Search doctors,specialiazations,hospitals" name="search_doctor_query" style="width:400px;">
                <button type="submit">Search</button> 
            </form>
            <p>
                <a href="{% url 'home' %}"><button type="button">Home</button></a>
            </p>
        </center>
    </body>
</html>