<html>
    <head>
        <title>
            24x7 Doctor
        </title>
        <!-- <link rel="stylesheet" type="text/css" href="frontpage.css"> -->
    </head>
    <body>
        <h1>Search for Doctor</h1>
        <table id = "tabs" style="border-spacing: 30px;">
            <tr>
                <td class = "tab-elements"><h1>General Physician</h1></td>
                <td class = "tab-elements"><h1>Neuro Surgeon</h1></td>
                <td class = "tab-elements"><h1>Eye Care</h1></td>
                <td class = "tab-elements"><h1>Dermatologist</h1></td>
                <td class = "tab-elements"><h1>ENT</h1></td>
                <td class = "tab-elements"><h1>Dentist</h1></td>
                <td class = "tab-elements"><h1>Gastroentrologist</h1></td>
                <td class = "tab-elements"><h1>Gynecologist</h1></td>
            </tr>
        </table>
        <center>
            <form method="POST" action="{% url 'search-results' %}">
                {% csrf_token %}

                <input type="search" placeholder="Search doctors,specialiazations,hospitals" name="search_doctor_query" style="width:400px;">
                <button type="submit">Search</button> 
            </form>
            <p>
                <a href="{% url 'home' %}"><button type="button">Home</button></a>
            </p>
        </center>
    </body>
</html>